<!DOCTYPE html>
<html lang="en">

<!-- head -->
{% include head.html %}
<!-- /head -->

<body>

<!-- Header -->
{% include header.html %}
<!-- /Header -->

<!-- About -->
{% include about.html %}
<!-- /About -->

<!-- Portfolio -->
{% include Portfolio.html %}
<!-- /Portfolio -->

<!-- Service -->
{% include service.html %}
<!-- /Service -->


<!-- Why Choose Us -->
{% include why-choose-us.html %}
<!-- /Why Choose Us -->


<!-- Numbers -->
{% include numbers.html %}
<!-- /Numbers -->

<!-- Pricing -->
{% include pricing.html %}
<!-- /Pricing -->


<!-- Testimonial -->
{% include testimonial.html %}
<!-- /Testimonial -->

<!-- Team -->
{% include team.html %}
<!-- /Team -->

<!-- Blog -->
{{ content }}
<!-- /Blog -->

<!-- Contact -->
{% include contact.html %}
<!-- /Contact -->


<!-- Footer -->
{% include footer.html %}
<!-- /Footer -->

<!-- Back to top -->
<div id="back-to-top"></div>
<!-- /Back to top -->

<!-- Preloader -->
<div id="preloader">
	<div class="preloader">
		<span></span>
		<span></span>
		<span></span>
		<span></span>
	</div>
</div>
<!-- /Preloader -->

<!-- jQuery Plugins -->
{% include js.html %}

</body>

</html>