<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

<!-- Header -->
<header>

    <!-- Nav -->
    {% include nav-menu.html %}
    <!-- /Nav -->

    <!-- header wrapper -->
    <div class="header-wrapper sm-padding bg-grey">
        <div class="container">
            <h2>Blog Page</h2>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="index.html#blog">Blog</a></li>
                <li class="breadcrumb-item active">Single Post</li>
            </ul>
        </div>
    </div>
    <!-- /header wrapper -->

</header>
<!-- /Header -->

<!-- Blog -->
<div id="blog" class="section md-padding">

    <!-- Container -->
    <div class="container">

        <!-- Row -->
        <div class="row">

            <!-- Main -->
            <main id="main" class="col-md-9">
                <div class="blog">
                    <div class="blog-img">
                        <img class="img-responsive" src="./assets/img/blog-post.jpg" alt="">
                    </div>
                    <div class="blog-content">
                        <ul class="blog-meta">
                            <li><i class="fa fa-user"></i>{{ page.author }}</li>
                            <li><i class="fa fa-clock-o"></i>{{ page.date | date: "%-d %B, %Y" }}</li>
                        </ul>
                        <h3>{{ page.title }}</h3>
                        {{ content }}
                    </div>

                    <!-- blog tags -->
                    <div class="blog-tags">
                        <h5>Tags :</h5>
                        {% for tag in post.tags %}
                        <a href="{{ site.baseurl }}/index.html#{{ tag | cgi_encode }}"><i class="fa fa-tag"></i>{{ site.tags }}</a>
                        {% endfor %}
                    </div>
                    <!-- blog tags -->

                    <!-- blog author -->
                    <div class="blog-author">
                        <div class="media">
                            <div class="media-left">
                                <img class="media-object" src="./assets/img/author.jpg" alt="">
                            </div>
                            <div class="media-body">
                                <div class="media-heading">
                                    <h3>Joe Doe</h3>
                                    <div class="author-social">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                        <a href="#"><i class="fa fa-instagram"></i></a>
                                    </div>
                                </div>
                                <p>Nec feugiat nisl pretium fusce id velit ut tortor pretium. Nisl purus in mollis nunc sed. Nunc non blandit massa enim nec.</p>
                            </div>
                        </div>
                    </div>
                    <!-- /blog author -->

                    <!-- blog comments -->
                    <div class="blog-comments">
                        <!-- comment -->
                        <div class="media">
                            <div id="disqus_thread"></div>
                        </div>
                        <!-- /comment -->
                    </div>
                    <!-- /blog comments -->

                </div>
            </main>
            <!-- /Main -->


            <!-- Aside -->
            <aside id="aside" class="col-md-3">

                <!-- Search -->
                <div class="widget">
                    <div class="widget-search">
                        <input class="search-input" type="text" placeholder="search">
                        <button class="search-btn" type="button"><i class="fa fa-search"></i></button>
                    </div>
                </div>
                <!-- /Search -->

                <!-- Category -->
                <div class="widget">
                    <h3 class="title">Category</h3>
                    <div class="widget-category">
                        <a href="#">Web Design<span>(7)</span></a>
                        <a href="#">Marketing<span>(142)</span></a>
                        <a href="#">Web Development<span>(74)</span></a>
                        <a href="#">Branding<span>(60)</span></a>
                        <a href="#">Photography<span>(5)</span></a>
                    </div>
                </div>
                <!-- /Category -->

                <!-- Posts sidebar -->
                <div class="widget">
                    <h3 class="title">Populare Posts</h3>

                    <!-- single post -->
                    <div class="widget-post">
                        <a href="#">
                            <img src="./assets/img/post1.jpg" alt=""> Blog title goes here
                        </a>
                        <ul class="blog-meta">
                            <li>Oct 18, 2017</li>
                        </ul>
                    </div>
                    <!-- /single post -->

                    <!-- single post -->
                    <div class="widget-post">
                        <a href="#">
                            <img src="./assets/img/post2.jpg" alt=""> Blog title goes here
                        </a>
                        <ul class="blog-meta">
                            <li>Oct 18, 2017</li>
                        </ul>
                    </div>
                    <!-- /single post -->


                    <!-- single post -->
                    <div class="widget-post">
                        <a href="#">
                            <img src="./assets/img/post3.jpg" alt=""> Blog title goes here
                        </a>
                        <ul class="blog-meta">
                            <li>Oct 18, 2017</li>
                        </ul>
                    </div>
                    <!-- /single post -->

                </div>
                <!-- /Posts sidebar -->

                <!-- Tags -->
                <div class="widget">
                    <h3 class="title">Tags</h3>
                    <div class="widget-tags">
                        <a href="#">Web</a>
                        <a href="#">Design</a>
                        <a href="#">Graphic</a>
                        <a href="#">Marketing</a>
                        <a href="#">Development</a>
                        <a href="#">Branding</a>
                        <a href="#">Photography</a>
                    </div>
                </div>
                <!-- /Tags -->

            </aside>
            <!-- /Aside -->

        </div>
        <!-- /Row -->

    </div>
    <!-- /Container -->

</div>
<!-- /Blog -->

<!-- Footer -->
{% include footer.html %}
<!-- /Footer -->

<!-- Back to top -->
<div id="back-to-top"></div>
<!-- /Back to top -->

<!-- Preloader -->
<div id="preloader">
    <div class="preloader">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<!-- /Preloader -->

<!-- jQuery Plugins -->
{% include js.html %}

</body>

</html>
